<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex">
        <span class="text-muted">&copy; Egoh's YelpCamp 2022</span>
    </div>
    <div>
        <span class="text-muted">Web Development Project</span>
    </div>
</footer>